<!DOCTYPE html>
<html lang="en" ng-app="translateApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <!--Bootstrap Link -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Angular Script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
    <!-- ngRoute Script -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <!-- app.js and customs scripts -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers/SongIndexController.js"></script>
    <script type="text/javascript" src="scripts/controllers/LyricsShowController.js"></script>

    <title>Lyrical Genius</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1 id="font_head" class="header">LYRICAL GENIUS</h1>
        <p id="font_p" class="header">Translate Hit Songs into Spanish in a Flash!</p>
      </div>
    </div>
    <div class="o" ng-view></div>

  </body>
</html>
