<div class="container">
  <!-- <div class="row">
    <form action="/search" method="get" class="searchBar"
    click-outside="unfocus()" ng-click="focus()">
    <input autocomplete="off" ng-click="focus()" ng-model="search_text" ng-disabled="submitting"
    name="q" type="text" class="quick_search autocomplete" placeholder="Search songs">
  </div>
</br> -->
  <div class="row">
    <!-- Text input -->
    <div class="form-group">
      <label class="col-md-4 control-label">Song Name</label>
      <div class="col-md-4">
        <input ng-model="" type="text" class="form-control input-md" required="">
      </div>
    </div>
  </div>
</br>
  <div class="row">
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Artist Name</label>
      <div class="col-md-4">
        <input ng-model="" type="text" class="form-control input-md">
      </div>
    </div>
  </div>
</br>
  <div class="row">
    <!-- Text input -->
    <div class="form-group">
      <label class="col-md-4 control-label">Album Name</label>
      <div class="col-md-4">
        <input ng-model="" type="text" class="form-control input-md">
      </div>
    </div>
  </div>
</div>

</body>
